:root {
  // brand colors
  --c-brand: #1995e1;
  --c-brand-light: #34a1e9;
}

html.dark {
  // brand colors
  --c-brand: #32a0e8;
  --c-brand-light: #57b1f3;

}

.link-box {
  ol {
    display: inherit;

    li {
      cursor: pointer;
      display: inline-block;
      margin: 10px 0;
      width: 98%;
      font-size: 16px;
      border: 1px solid var(--c-border-dark);
      border-radius: 5px;
      transition: all .3s;
      text-align: right;

      a {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: .8;
        padding: 10px 20px;
        box-sizing: border-box;
        transition: all .3s;

        strong {
          position: absolute;
          left: 25px;
        }

        &:hover {
          opacity: 1;
          text-decoration: none !important;
        }
      }

      &:hover {
        transform: translate3d(0, -2px, 0);
        box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
      }
    }
  }
}